{
  'component': true,
  'stringThing': 'some string here',
  'otherLine': 'yaaaaaas',
  'binary': 0,
  'weirdObjectProp': {
    'stuff': true,
    'more': 'nah'
  },
  'numbers': [2,4,8,16,32],
  'digit': 2
}